<a href="https://colab.research.google.com/github/DINESHKUMARVR41/loan_approval_ml/blob/main/loan_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("loan_approval_1000.csv")

In [4]:
df

     Age    Income  Loan_Amount  Credit_Score Employment_Type  Loan_Approved
0     59   77761.0       417505           337        Salaried              0
1     49  141178.0       328226           487        Salaried              0
2     35   56368.0       312805           356   Self-Employed              0
3     28   26783.0       218484           319        Salaried              0
4     41  131530.0       315064           572   Self-Employed              0
..   ...       ...          ...           ...             ...            ...
995   58  112447.0       259717           572      Unemployed              0
996   22  134994.0       314167           544      Unemployed              0
997   27  109899.0       169654           749        Salaried              1
998   38   40049.0       240868           546      Unemployed              0
999   47   95717.0       130073           819        Salaried              1

[1000 rows x 6 columns]

In [5]:
df.isna().sum()

Age                 0
Income             50
Loan_Amount         0
Credit_Score        0
Employment_Type    50
Loan_Approved       0
dtype: int64

In [6]:
len(df)

1000

In [13]:
mu = df["Income"].mean()
mo = df["Employment_Type"].mode()[0]

In [15]:
df["Employment_Type"].mode()

0    Salaried
Name: Employment_Type, dtype: object

In [19]:
df.isna().sum()

Age                0
Income             0
Loan_Amount        0
Credit_Score       0
Employment_Type    0
Loan_Approved      0
dtype: int64

In [18]:
df["Employment_Type"].value_counts()

Employment_Type
Salaried         521
Self-Employed    287
Unemployed       192
Name: count, dtype: int64

In [17]:
df["Income"] = df["Income"].fillna(mu);
df["Employment_Type"] = df["Employment_Type"].fillna(mo)

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Employment_Type"] = le.fit_transform(df["Employment_Type"])

In [21]:
df

     Age    Income  Loan_Amount  Credit_Score  Employment_Type  Loan_Approved
0     59   77761.0       417505           337                0              0
1     49  141178.0       328226           487                0              0
2     35   56368.0       312805           356                1              0
3     28   26783.0       218484           319                0              0
4     41  131530.0       315064           572                1              0
..   ...       ...          ...           ...              ...            ...
995   58  112447.0       259717           572                2              0
996   22  134994.0       314167           544                2              0
997   27  109899.0       169654           749                0              1
998   38   40049.0       240868           546                2              0
999   47   95717.0       130073           819                0              1

[1000 rows x 6 columns]

In [31]:
x = df.drop("Loan_Approved",axis = 1)
y = df["Loan_Approved"]

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [32]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 1000)
lr.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [33]:
y_pred = lr.predict(x_test)

In [34]:
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0])

In [35]:
y_test

733    0
554    0
408    1
116    1
495    0
      ..
599    0
828    0
47     0
10     1
100    0
Name: Loan_Approved, Length: 200, dtype: int64

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.92      0.89       140
           1       0.78      0.63      0.70        60

    accuracy                           0.83       200
   macro avg       0.81      0.78      0.79       200
weighted avg       0.83      0.83      0.83       200

In [16]:
!echo "# loan_approval_ml" >> README.md

In [17]:
!git init

Reinitialized existing Git repository in /content/.git/

In [18]:
!git add README.md

In [19]:
!git commit -m "first commit"

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@d3dcb66b199f.(none)')

In [25]:
!git branch -M main

In [26]:
!git remote add origin https://github.com/DINESHKUMARVR41/loan_approval_ml.git

error: remote origin already exists.

In [28]:
!git push -u origin main

error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/DINESHKUMARVR41/loan_approval_ml.git'

In [31]:
!git remote add origin https://github.com/DINESHKUMARVR41/loan_approval_ml.git

error: remote origin already exists.

In [32]:
!git branch -M main

In [33]:
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address

In [29]:
!git commit -m "first commit"

[main (root-commit) c26e4e0] first commit
 1 file changed, 2 insertions(+)
 create mode 100644 README.md

In [30]:
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address

In [23]:
!git config --global user.email "dineshkumarvr41@gmail.com"

In [24]:
!git config --global user.name "DINESHKUMARVR41"